<div class="page-header">
  <h1>Crash Report <small>{{product}} v{{version}}</small></h1>
</div>
<div class="row">
  <div class="col-md-6">
    <dl class="dl-horizontal">
      {{#each fields}}
        <dt>{{titleCase @key}}</dt>
        <dd>
        {{#if this.path}}
        <a href="{{this.path}}">download</a>
        {{else}}
        {{this}}
        {{/if}}
        </dd>
      {{/each}}
    </dl>
  </div>
  <div class="col-md-6">
    {{#if Email}}
      <h3>Contact {{Email}}</h3>
      
      <form method="POST" action="/crashreports/{{id}}/email">
      <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" class="form-control" id="subject" name="subject" value="The crash report you submitted">
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" id="message" name="message" rows="20">{{emailTemplate}}
(Crash ID: {{id}})</textarea>
      </div>
      
      <button type="submit" class="btn btn-default">Send</button>
      </form>
    {{/if}}
  </div>
</div>
<h2>Stackwalk</h2>
<pre><code>
{{stackwalk}}
</code></pre>
